<?xml version="1.0"?>
<tables>
    <!-- Locations of AmrFinderPlus databases downloaded from NCBI -->
    <table name="amrfinderplus_databases" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/amrfinderplus_databases.loc" />
    </table>
</tables>
